@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  background: #05060a;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100svh;
}

::selection {
  background: #3a57ff;
  color: #fff;
}
